<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="navBar">
      <a href="/">Home</a>
      <a href="/about">About</a>

      <a href="/tour">Tour</a>
    </div>
    <div class="primerSeccionAbout">
      <div><img class="albumCover" src="images\album-cover.jpg" alt="" /></div>
      <div>
        <div class="biografiaTangana">
          <div><h2 class="nombreTangana">Antón Álvarez Alfaro</h2></div>
          <div>
            <p>
              Más conocido por su nombre artístico C. Tangana, es un rapero,
              cantante y compositor español de diversos géneros como hip hop,
              latin pop, nuevo flamenco y reguetón.
            </p>
            <p>
              Antón Álvarez nació en Madrid en 1990. Estudió en el Colegio "San
              Viator" de Madrid hasta terminar bachillerato, y posteriormente
              inició la carrera de Filosofía en la Universidad Complutense de
              Madrid,​ donde se graduó. Durante su educación secundaria comenzó
              a adentrarse en el mundo del freestyle, dándose a conocer bajo su
              pseudónimo Crema y empezando a circular sus maquetas entre los
              jóvenes atraídos por el rap urbano underground.
            </p>
          </div>
          <div class="premiosChart">
            <div class="premiosSeparador"><h2>Premios</h2></div>
            <div class="premiosTitulo">
              <div><span>Grammy Latino</span></div>
              <div><span>Grammy Latino</span></div>
              <div><span>Grammy Latino</span></div>
            </div>
            <div class="premioRazon">
              <div><span>Mejor Album del Año</span></div>
              <div><span>Mejor Cancion Alternativa</span></div>
              <div><span>Mejor Cancion Pop/Rock</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
