<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>C Tangana</title>
  </head>
  <body>
    <div class="navBar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/tour">Tour</a>
    </div>
    <div class="infoCTangana">
      <div>
        <img class="cTanganaPic2" src="images/c-tangana.jpg" alt="" />
        <img class="cTanganaPic" src="images/c-tangana.jpg" alt="" />
        <img class="cTanganaPic2" src="images/c-tangana.jpg" alt="" />
      </div>
      <div>
        <img class="madrileñoLogo" src="images/el-madrileño.png" alt="" />
      </div>
    </div>
  </body>
</html>
